<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
</head>

<body>
    <main class="main__container">
        <div id="nav__bar">
            <a href="index.html" class="nav__item link__decoration">Home</a>
            <a href="newtrip" class="nav__item link__decoration">New trip</a>
            <a href="mytrips.html" class="nav__item link__decoration">My trips</a>
        </div>
    </main>
</body>

</html>