/* Layout for small screens */
.main__container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto 300px 420px 50px;
  grid-template-areas:
    "nb"
    "al"
    "am"
    "mn"
    "ft";
}

.center__text {
  text-align: center;
}

#nav__bar {
  grid-area: nb;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(53, 53, 53);
  margin-bottom: 5px;
}

/* Decorations for the NavBar items */
.nav__item {
  width: auto;
  height: auto;
  padding: 5px;
  text-align: center;
  padding: 14px 16px;
  color: white;
}

.nav__item:hover {
  background-color: rgb(0, 0, 0);
}

.link__decoration {
  text-decoration: none;
}

#article__list {
  grid-area: al;
  background-color: rgb(122, 122, 122);
  margin: 10px;
  border-radius: 25px;
}

/* Decorations for the Archive list items */
.list__item {
  text-decoration: none;
  color: black;
}

.list__item:hover {
  color: rgb(35, 38, 211);
  text-decoration: underline;
}

ul {
  list-style: none;
}

/* Decorations for the Archive list items: symbol to be added before each month */
ul li:before {
  content: "\2020";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#article__month {
  grid-area: am;
  background-image: url("images/articleOfTheMonthSmall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
}

.white__text {
  color: white;
}

#posts__preview {
  grid-area: mn;
}

/* Nested Grid to display the 4 articles */
#nested__grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px 200px;
  grid-template-areas:
    "at1 at2"
    "at3 at4";
}

.article__details {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  text-shadow: 2px 1px black;
  font-size: 11px;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.justify__text {
  text-align: justify;
}

#article1 {
  grid-area: at1;
  background-image: url("images/japanOriginalSize.jpg");
}

#article2 {
  grid-area: at2;
  background-image: url("images/industryOriginalSize.jpg");
}

#article3 {
  grid-area: at3;
  background-image: url("images/coronaOriginalSize.jpg");
}

#article4 {
  grid-area: at4;
  background-image: url("images/bidenOriginalSize.jpg");
}

footer {
  grid-area: ft;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer p {
  font-style: italic;
}

.footer__item {
  margin-left: 15px;
}

#github__logo {
  width: 40px;
  height: auto;
}

#linkedin__logo {
  width: 90px;
  height: auto;
}

#twitter__logo {
  width: 80px;
  height: auto;
}

#fb__logo {
  width: 50px;
  height: auto;
}
