/* Settings for screens between 700 and 1100px 700px (tablet) */
@media (min-width: 700px) and (max-width: 1100px) {
  .article__details {
    font-size: 13px;
  }

  #article__month {
    grid-area: am;
    background-image: url("images/articleOfTheMonthBig.jpg");
    background-size: cover;
    background-position: center;
  }
}
