footer {
  grid-area: ft;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer p {
  font-style: italic;
}

.footer__item {
  margin-left: 15px;
}

#github__logo {
  width: 40px;
  height: auto;
}

#linkedin__logo {
  width: 90px;
  height: auto;
}

#twitter__logo {
  width: 80px;
  height: auto;
}

#fb__logo {
  width: 50px;
  height: auto;
}