.mainContainer{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 50px 200px 500px 50px;
    grid-template-areas:
      "nb nb nb nb nb nb"
      "al al al al al al"
      "am am am am am am"
      "mn mn mn mn mn mn"
      "ft ft ft ft ft ft";
    border: 2px solid yellow;
}

.box{
    border: 1px solid red;
}
#navBar{
grid-area: nb;
}
#articleList{
grid-area: al;
}
#articleMonth{
grid-area: am;
}
#postsPreview{
grid-area: mn;
}
#footer{
grid-area: ft;
}

@media(min-width:700px){
    .mainContainer{
        display:grid;
        grid-template-columns: 30px 100px;
        grid-template-rows: 100px 300px 300px 50px;
        grid-template-areas:
        "nb nb nb nb nb nb"
        "al al am am am am"
        "al al mn mn mn mn"
        "ft ft ft ft ft ft";
        border: 2px solid yellow;
    }
}