/* Layout for small screens */
.mainContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px 400px auto;
  grid-template-areas:
    "nb"
    "ti"
    "mt"
    "ft";
}

.centerText {
  text-align: center;
}

.justifyText {
  text-align: justify;
}

#navBar {
  grid-area: nb;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(53, 53, 53);
  margin-bottom: 5px;
}

/* Decorations for the NavBar items */
.navItem {
  width: auto;
  height: auto;
  padding: 5px;
  text-align: center;
  padding: 14px 16px;
  color: white;
}

.navItem:hover {
  background-color: rgb(0, 0, 0);
}

.linkDecoration {
  text-decoration: none;
}

#titleImg {
  grid-area: ti;
  background-image: url("images/articleOfTheMonthBig.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#mainText {
  grid-area: mt;
}

#footer {
  grid-area: ft;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerItem {
  margin-left: 15px;
}

#gitHubLogo {
  width: 40px;
  height: auto;
}

#linkedinLogo {
  width: 90px;
  height: auto;
}
