/* Layout for small screens */
.main__container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto;
  grid-template-areas:
    "nb"
    "ti"
    "mt"
    "ab"
    "ft";
}

.center__text {
  text-align: center;
}

.justify__text {
  text-align: justify;
}

#nav__bar {
  grid-area: nb;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(53, 53, 53);
  margin-bottom: 5px;
}

/* Decorations for the NavBar items */
.nav__item {
  width: auto;
  height: auto;
  padding: 5px;
  text-align: center;
  padding: 14px 16px;
  color: white;
}

.nav__item:hover {
  background-color: rgb(0, 0, 0);
}

.link__decoration {
  text-decoration: none;
}

#title__img {
  grid-area: ti;
  max-width: 100%;
  height: auto;
}

#main__text {
  grid-area: mt;
}

#author__bio {
  grid-area: ab;
  background-color: rgb(238, 238, 238);
  padding: 15px;
  margin-bottom: 10px;
}

#bio_intro{
  text-align: center;
}

#bio__details {
  display: flex;
  flex-direction: row;
}

#avatar__image {
  margin-right: 40px;
  width: 100%;
  height: auto;
}

footer {
  grid-area: ft;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer p {
  font-style: italic;
}

.footer__item {
  margin-left: 15px;
}

#github__logo {
  width: 40px;
  height: auto;
}

#linkedin__logo {
  width: 90px;
  height: auto;
}

#twitter__logo {
  width: 80px;
  height: auto;
}

#fb__logo {
  width: 50px;
  height: auto;
}

@media (min-width: 700px) and (max-width: 1100px) {
  #avatar__image {
    margin-right: 40px;
  }
}

@media (min-width: 1101px) {
  #avatar__image {
    margin-right: 40px;
    width: auto;
    height: auto;
  }
}
